@font-face {
   font-family: 'Playlist Script';
   font-display: swap;
   src: url('file:///Users/xbutil/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2024-03-21_185740/fonts/Playlist%20Script/font.ttf');
}
